<!DOCTYPE html>
<html>
  <head>
    <title>OverseasTripSim</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    
    <script src="https://kit.fontawesome.com/a345944a84.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {
        'packages':['geochart'],
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        const data = google.visualization.arrayToDataTable([
          ['Country', 'Name'],
          
          
          ['JP', '日本'],
          ['AW', 'アルバ'],
          ['GL', 'グリーンランド'],
          ['SJ', 'スヴァールバル諸島'],
          
          //北アメリカ ok
          ['US', 'アメリカ'],
          ['AG', 'アンティグア・バーブーダ'],
          ['BS', 'バハマ'],
          ['BB', 'バルバドス'],
          ['BZ', 'ベリーズ'],
          ['CA', 'カナダ'],
          ['CR', 'コスタリカ'],
          ['CU', 'キューバ'],
          ['DM', 'ドミニカ国'],
          ['DO', 'ドミニカ共和国'],
          ['SV', 'エルサルバドル'],
          ['GD', 'グレナダ'],
          ['GT', 'グアテマラ'],
          ['HT', 'ハイチ'],
          ['HN', 'ホンジュラス'],
          ['JM', 'ジャマイカ'],
          ['MX', 'メキシコ'],
          ['NI', 'ニカラグア'],
          ['PA', 'パナマ'],
          ['KN', 'セントクリストファー・ネイビス'],
          ['LC', 'セントルシア'],
          ['VC', 'セントビンセント・グレナディーン'],
          ['TT', 'トリニダード・トバゴ'],
          
          //南アメリカ ok
          ['AR', 'アルゼンチン'],
          ['BO', 'ボリビア'],
          ['BR', 'ブラジル'],
          ['CL', 'チリ'],
          ['CO', 'コロンビア'],
          ['EC', 'エクアドル'],
          ['GY', 'ガイアナ'],
          ['UY', 'ウルグアイ'],
          ['SR', 'スリナム'],
          ['PY', 'パラグアイ'],
          ['VE', 'ベネズエラ'],
          ['PE', 'ペルー'],
          ['GF', 'フランス領ギアナ'],
          ['FK', 'フォークランド諸島'],
          
          //ヨーロッパ ok
          ['RU', 'ロシア'],
          ['FI', 'フィンランド'],
          ['SE', 'スウェーデン'],
          ['NO', 'ノルウェー'],
          ['EE', 'エストニア'],
          ['LV', 'ラトビア'],
          ['LT', 'リトアニア'],
          ['BY', 'ベラルーシ'],
          ['UA', 'ウクライナ'],
          ['MD', 'モルドバ'],
          ['PL', 'ポーランド'],
          ['SK', 'スロバキア'],
          ['RO', 'ルーマニア'],
          ['BG', 'ブルガリア'],
          ['GR', 'ギリシャ'],
          ['DE', 'ドイツ'],
          ['DK', 'デンマーク'],
          ['HU', 'ハンガリー'],
          ['RS', 'セルビア'],
          ['CZ', 'チェコ'],
          ['NL', 'オランダ'],
          ['BE', 'ベルギー'],
          ['FR', 'フランス'],
          ['GB', 'イギリス'],
          ['IE', 'アイルランド'],
          ['IS', 'アイスランド'],
          ['AT', 'オーストリア'],
          ['LU', 'ルクセンブルク'],
          ['ES', 'スペイン'],
          ['PT', 'ポルトガル'],
          ['IT', 'イタリア'],
          ['CH', 'スイス'],
          ['AD', 'アンドラ'],
          ['LI', 'リヒテンシュタイン'],
          ['MC', 'モナコ'],
          ['SM', 'サンマリノ'],
          ['CY', 'キプロス'],
          ['MT', 'マルタ'],
          ['VA', 'バチカン'],
          ['AL', 'アルバニア'],
          ['SI', 'スロベニア'],
          ['HR', 'クロアチア'],
          ['BA', 'ボスニア・ヘルツェゴビナ'],
          ['ME', 'モンテネグロ'],
          ['XK', 'コソボ'],
          ['MK', '北マケドニア'],
          
          //アジア ok
          ['MN', 'モンゴル'],
          ['IL', 'イスラエル'],
          ['LB', 'レバノン'],
          ['PS', 'パレスチナ'],
          ['CN', '中国'],
          ['KR', '韓国'],
          ['TW', '台湾'],
          ['KP', '北朝鮮'],
          ['VN', 'ベトナム'],
          ['PH', 'フィリピン'],
          ['KH', 'カンボジア'],
          ['TH', 'タイ'],
          ['LA', 'ラオス'],
          ['MM', 'ミャンマー'],
          ['BT', 'ブータン'],
          ['NP', 'ネパール'],
          ['BD', 'バングラデシュ'],
          ['IN', 'インド'],
          ['PK', 'パキスタン'],
          ['AF', 'アフガニスタン'],
          ['IR', 'イラン'],
          ['TR', 'トルコ'],
          ['SY', 'シリア'],
          ['IQ', 'イラク'],
          ['JO', 'ヨルダン'],
          ['SA', 'サウジアラビア'],
          ['QA', 'カタール'],
          ['OM', 'オマーン'],
          ['YE', 'イエメン'],
          ['AE', 'アラブ首長国連邦'],
          ['AZ', 'アゼルバイジャン'],
          ['AM', 'アルメニア'],
          ['GE', 'ジョージア'],
          ['TM', 'トルクメニスタン'],
          ['TJ', 'タジキスタン'],
          ['KG', 'キルギス'],
          ['UZ', 'ウズベキスタン'],
          ['KZ', 'カザフスタン'],
          ['LK', 'スリランカ'],
          ['SG', 'シンガポール'],
          ['MY', 'マレーシア'],
          ['ID', 'インドネシア'],
          ['BN', 'ブルネイ'],
          ['TL', '東ティモール'],
          ['KW', 'クウェート'],
          ['MO', 'マカオ'],
          ['HK', '香港'],
          ['MV', 'モルディブ'],
          ['BH', 'バーレーン'],
          
          //オセアニア ok
          ['AU', 'オーストラリア'],
          ['CK', 'クック諸島'],
          ['FJ', 'フィジー'],
          ['FM', 'ミクロネシア'],
          ['KI', 'キリバス'],
          ['MH', 'マーシャル諸島'],
          ['NR', 'ナウル'],
          ['NU', 'ニウエ'],
          ['NZ', 'ニュージーランド'],
          ['PG', 'パプアニューギニア'],
          ['PW', 'パラオ'],
          ['SB', 'ソロモン諸島'],
          ['TO', 'トンガ'],
          ['TV', 'ツバル'],
          ['VU', 'バヌアツ'],
          ['WS', 'サモア'],
          
          //アフリカ ok
          ['MG', 'マダガスカル'],
          ['DZ', 'アルジェリア'],
          ['AO', 'アンゴラ'],
          ['UG', 'ウガンダ'],
          ['EG', 'エジプト'],
          ['SZ', 'エスワティニ'],
          ['ET', 'エチオピア'],
          ['ER', 'エリトリア'],
          ['GH', 'ガーナ'],
          ['CV', 'カーボベルデ'],
          ['CN', 'カナリア諸島'],
          ['GA', 'ガボン'],
          ['CM', 'カメルーン'],
          ['GM', 'ガンビア'],
          ['GN', 'ギニア'],
          ['GW', 'ギニアビサウ'],
          ['KE', 'ケニア'],
          ['CI', 'コートジボワール'],
          ['KM', 'コモロ'],
          ['CG', 'コンゴ共和国'],
          ['CD', 'コンゴ民主共和国'],
          ['ST', 'サントメ・プリンシペ'],
          ['ZM', 'ザンビア'],
          ['SL', 'シエラレオネ'],
          ['DJ', 'ジブチ'],
          ['ZW', 'ジンバブエ'],
          ['SD', 'スーダン'],
          ['SZ', 'スワジランド'],
          ['SC', 'セーシェル'],
          ['GQ', '赤道ギニア'],
          ['SN', 'セネガル'],
          ['SO', 'ソマリア'],
          ['TZ', 'タンザニア'],
          ['TD', 'チャド'],
          ['CF', '中央アフリカ'],
          ['TN', 'チュニジア'],
          ['TG', 'トーゴ'],
          ['NG', 'ナイジェリア'],
          ['NA', 'ナミビア'],
          ['EH', '西サハラ'],
          ['NE', 'ニジェール'],
          ['BF', 'ブルキナファソ'],
          ['BI', 'ブルンジ'],
          ['BJ', 'ベナン'],
          ['BW', 'ボツワナ'],
          ['MW', 'マラウイ'],
          ['ML', 'マリ'],
          ['ZA', '南アフリカ'],
          ['SS', '南スーダン'],
          ['MU', 'モーリシャス'],
          ['MR', 'モーリタニア'],
          ['MZ', 'モザンビーク'],
          ['MA', 'モロッコ'],
          ['LY', 'リビア'],
          ['LR', 'リベリア'],
          ['RW', 'ルワンダ'],
          ['LS', 'レソト'],
          ['RE', 'レユニオン'],
          
        ]);

        const options = {
            backgroundColor:'#6699cc',
            <%# legend: 'none'で左下に表示される凡例を削除%>
            legend: 'none',
            <%# defaultColor:'#45CC82'でデータも持つ国の色を一括変更%>
            defaultColor:'#45CC82',
        };
        
        <%# クリックされた時に呼び出される関数%>
        const dialogShow = (reg) => {
          $.ajax({
            url: '/homes/index_2',
            type: 'GET',
            dataType: 'json',
            data: {
              country: reg.region
            }
          }).done(data => {
            $('.card-title').text(data['name']+'で使えるSIMカード')
          })
          
          $.ajax({
            url: '/homes/index',
            type: 'GET',
            dataType: 'html',
            data: {
              country: reg.region
            }
          }).done(data => {
            $(".card-body_2").html(data)
          })
        };

        const chart = new google.visualization.GeoChart(document.getElementById('regions_div'));
        
        <%# 国がクリックされた時のイベント処理の実行%>
        google.visualization.events.addListener(chart, 'regionClick', dialogShow);
        
        chart.draw(data, options);
      };
      
      
      window.onload=function(){
        const searchbutton = document.getElementById('button1');
      
        const button1Click = () => {
          $.ajax({
              url: 'homes/search_2',
              type: 'GET',
              dataType: 'json',
              data: {
                search: $("#search").val()
              }
            }).done(data => {
              $('.card-title').text(data['name']+'で使えるSIMカード')
            })
          
          $.ajax({
              url: 'homes/search',
              type: 'GET',
              dataType: 'html',
              data: {
                search: $("#search").val()
              }
            }).done(data => {
              $(".card-body_2").html(data)
            })
        };
        
        searchbutton.addEventListener('click', button1Click);
        
        <%# 検索フォームで検索ボタンを押さなくてもエンターキーを叩けば関数button1Clickが実行されるようになる %>
        $("#search").keypress(function(e){
          if(e.which == 13){
            $("#button1").click();
          }
        });
        
      }
      
    </script>
  </head>

  <body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <%= render "layouts/header" %>
    <main>
        <%= yield %>
    </main>
  </body>
</html>
